h1 {
  color: #f04b05;
  font-size: 56px;
  margin: 20px;
  margin-top: 30px;
  font-weight: 800;
  font-family:
    Doppio One,
    sans-serif;
}

#digital-wellbeing {
  margin-top: 100px;
  margin: 20px;
}
body {
  background-color: #c7fdc9;
  padding: 30px;
}

.home-box {
  max-width: 50%;
}

.box {
  background-color: #47906dbd;
  padding: 30px;
  margin: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 20px;
}
.box2 {
  background-color: #47906dbd;
  padding: 30px;
  margin: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 40%;
  font-size: 20px;
}
img {
  position: absolute;
  right: 100px;
  top: 100px;
  border-radius: 15px;
  margin: 50px auto;
  width: 450px;
  max-width: 50%;
}
/* CSS για την εμφάνιση του κουίζ */
.quiz-container {
  max-width: 600px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 40px;
}
.question {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}
.options label {
  display: block;
  margin: 5px 0;
  cursor: pointer;
}
button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
button:hover {
  background-color: #218838;
}
#result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
