h1 {
  color: #f04b05;
  font-size: 56px;
  margin: 20px;
  margin-top: 30px;
  font-weight: 800;
  font-family:
    Doppio One,
    sans-serif;
}

#digital-wellbeing {
  margin-top: 100px;
  margin: 20px;
}
body {
  background-color: #c7fdc9;
  padding: 30px;
}

.home-box {
  max-width: 50%;
}

.box {
  background-color: #47906dbd;
  padding: 30px;
  margin: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 20px;
}
img {
  position: absolute;
  right: 100px;
  top: 100px;
  border-radius: 15px;
  margin: 50px auto;
  width: 450px;
  max-width: 50%;
}
